* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgray;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.4);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(0, 0, 255, 0.7);
  color: whitesmoke;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output > .previous-result {
  opacity: 0.7;
  font-size: 1.4rem;
}

.output > .current-result {
  font-size: 2.4rem;
}
